<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Argue User Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Welcome!</h2>
	<P>Argue is considered to be one of the world’s fastest growing
		company. We attribute this success to our dedication to customer
		satisfaction and our commitment to execution excellence. Your opinions
		are very important and we greatly appreciate you taking the time to
		provide your feedback so Argue can continue to improve your ease of
		doing business with us.</P>

	<b><p th:text="'Message: ' + ${message}" /></b>

	<h3>Invite User To Register:</h3>
	<form action="#" th:action="@{/mvc/invite}" th:object="${inviteDto}"
		method="post">
		User Name:<br> <input type="text" th:field="*{invitee}"><br>
		Email:<br> <input type="text" th:field="*{email}"><br>
		<input type="submit" value="Submit">
	</form>

	<h3>Important Links:</h3>
	<div>
		<ul>
			<li><a href="http://localhost:8080/argue/mvc/dashboard">Home</a></li>
			<li><a href="http://localhost:8080/argue/mvc/invite">Invite
					User</a></li>
			<li><a href="http://localhost:8080/argue/mvc/userinfo">User
					Info</a></li>
		</ul>
	</div>

</body>
</html>